<!-- INCLUDE overall_header.html -->

<!-- IF REPEAT -->
	<meta http-equiv="refresh" content="{REPEAT}"></meta>
<!-- ENDIF -->

<div>
	<!-- BEGIN cmd -->
		<p style="margin:5px;">
			<!-- IF cmd.CMD1 == 'init' -->
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}">Initialiser {cmd.CMD2} {cmd.CMD3}</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;limit=5">5</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;limit=50">50</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;limit=500">200</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;limit=500">500</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;limit=2000">2000</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;limit=5000">5000</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=10">10R</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=50">50R</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=500">200R</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=500">500R</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=2000">2000R</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=5000">5000R</a>
				<!-- IF cmd.CMD2 == 'chemineur' -->
					<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}_{cmd.CMD2}&source={cmd.CMD3}&amp;repeat=1&amp;limit=100&amp;suite=1">100R-suite</a>
				<!-- ENDIF -->
			<!-- ELSEIF cmd.CMD1 == 'sep' -->
				<br/><hr/><u>MIGRATION</u>
			<!-- ELSE -->
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}">Importer {cmd.TXT} (5 posts)</a> -
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}">(100 posts)</a> -
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}&amp;limit=300">(300 posts)</a> -
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}&amp;limit=1000">(1000 posts)</a> -
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}&amp;limit=3000">(3000 posts)</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}&amp;limit=100&amp;repeat=1">(repété 100 fois toutes les 1s)</a>
				<a href="{ROOT_PATH}{SCRIPT_NAME}.php?cmd={cmd.CMD1}&amp;source={cmd.CMD2}&amp;name={cmd.CMD3}&amp;limit=100&amp;repeat=10">(repété 100 fois toutes les 10s)</a>
			<!-- ENDIF -->
			<!--a href="{ROOT_PATH}{SCRIPT_NAME}.php?{cmd.CMD}={cmd.PAR}&n=1000" title="Relancer 1000 fois ou jusqu'à l' import complet: importer {cmd.TXT} (100 points)">1000 fois</a> &nbsp; - &nbsp;
			<a href="{ROOT_PATH}{SCRIPT_NAME}.php?{cmd.CMD}={cmd.PAR}&n=1000&repeat=60" title="Répéter chaque minute jusqu'à l'import complet: importer {cmd.TXT} (100 points)">chaque minute</a-->
		</p>
	<!-- END cmd -->
</div>
<br/>

<br/>
<div>
<!-- BEGIN errors -->
	<p style="background-color:coral;margin:0;">{errors.REPORT}</p>
<!-- END errors -->
</div>
<br/>
<div>
<!-- BEGIN status -->
	<p style="margin:0;">{status.REPORT}</p>
<!-- END status -->
</div>
<br/>

<!-- INCLUDE overall_footer.html -->
