<!-- BEGIN _file -->
	<table class= "photo">
		<tr><td class="hg"></td><td class="hm">
			<p>{_file.DATE} &copy; {_file.AUTEUR}</p>
		</td><td class="hd"></td></tr>
		<tr><td class="mg"></td><td class="mm">
			<!-- IF _file.ATTACH_ID < 1000000 -->
				<a href="download/file.php?id={_file.ATTACH_ID}" title="{_file.COMMENT}">
					<script>document.write('<img src="download/file.php?id={_file.ATTACH_ID}&s='+Math.round(Math.max(200,(window.innerWidth-150)*375/(500+{_file.TEXT_SIZE})))+'" />')</script>
				</a>
			<!-- ELSE -->
				<img src="{_file.REAL_FILENAME}" />
			<!-- ENDIF -->
		</td><td class="md"></td></tr>
		<tr><td class="bg"></td><td class="bm">
			<p>{_file.EXIF}</p>
		</td><td class="bd">
		</td></tr>
	</table>
<!-- END _file -->
